<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="robotiq_arg2f_transmission" params="prefix jointname">
    <transmission name="${prefix}${jointname}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}${jointname}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}${jointname}_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
</robot>
